* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #DAE0E6;
}

/*<-----nav----->*/
nav {
    background: #fff;
    width: 100%;
    padding: 0px 10%;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin: 0;
    margin-bottom: 100px;
}

body {
    margin-top: 20px;
}

nav ul {
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #000;
    position: relative;
    top: -12px;
    text-decoration: none;
}

nav ul li svg {
    position: relative;
}

.leftsec {
    justify-content: right;
}

.logo {
    width: 50px;
    height: 40px;
}

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 0px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(2px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.search-box {
    width: 400px;
    position: relative;
    background: #cacaca;
    border-radius: 20px;
    box-sizing: border-box;

}

.row {
    display: flex;
    align-items: center;
    height: 30px;
}

.input-box {}

div.row > input {
    flex: 1;
    height: 20px;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 18px;
    color: #333;
}

::placeholder {
    color: #555;
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 0px 0px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 0px 0px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: #e9f3ff;
}

.result-box {
    max-height: 200px;
    overflow-y: scroll;
}

.poll-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2368a0;
}

/* <---POST CSS---> */
.post-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.top-post {
    margin-top: 75px;
}

.user-info {
    padding: 10px;
    max-height: 600px;
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.username {
    font-weight: bold;
}

.post-image {
    width: 100%;
    height: auto;
    display: block;
}

.post-details {
    padding: 10px;
}

.like-comment button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.comments {
    margin-top: 10px;
}

.comment {
    margin-bottom: 5px;
}

.comment-username {
    font-weight: bold;
}

.add-comment {
    width: calc(100% - 20px);
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.post-comment-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/*<-----side nav----->*/
.side-nav {
    width: 110px;
    height: 500px;
    position: fixed;
    bottom: auto;
    top: 100px;
    left: 1%;
    padding: 30px 15px;
    background: white;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

.user div {
    display: block;
}

.user h2 {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0 15px;
}

ul li {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li img {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    border-radius: 70%;
}

ul li p {
    white-space: nowrap;
    display: none;
}

.side-nav:hover {
    width: 250px;
}

.side-nav:hover .user div {
    display: block;
}

.side-nav:hover .user {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.side-nav:hover .star-img {
    display: block;
}

.side-nav:hover .user-img {
    margin: 0;
}

.side-nav:hover ul li p {
    display: block;
}

.side-nav:hover ul li img {
    margin-right: 10px;
}

.side-nav:hover ul li {
    justify-content: flex-start;
}

.dimmed {
    position: relative;
}

.dimmed:after {
    position: relative;
    content: " ";
    z-index: 10;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    display: none;
}

.dimmed.active::after {
    display: block;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
svg {
    width: 24px;
    height: 24px;
}

.createpost-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
}

.createpost-content{
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li .createpost {
    cursor: pointer;
}
